<div class="container"><br>
  <center><h3 class='edit_p'> Edit Profile</h3></center>
  <div class="content-right">
    <div class="grid1">
      <div class="form-sec">
      	<%= form_for @user, url: user_path(@user), html: {multipart: true} do |f| %>
        <form>
          <%= f.text_field :first_name, :class => "user" %>
          <%= f.text_field :last_name, :class => "user" %>
          <%= f.select :city_name, [ 'Austin', 'Gibraltar', 'Hue', 'Istanbul', 'London', 'New York','Rome','San Francisco'], :prompt => @city.name %>
          <br>
          <div> Profile Picture:</div>
        	<%= f.file_field :avatar %><br>
          <%= f.submit "Update!" %>
          <% end %>
        </form>              
      </div>        
    </div>
  </div>
</div>

