<div class="slider_bg"><!-- start slider -->
  <div class="row slider">
    <div class="wmuSlider example1">
      <div class="wmuSliderWrapper">
        <article style="position: absolute; width: 100%; opacity: 0;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/sanfran.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/dubai.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/paris.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/london.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/hongkong.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/tokyo.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/riomaggiore.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/venice.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/newyork.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>
        <article style="position: relative; width: 100%; opacity: 1;">
          <div class="slider_img text-center">
            <ul class="list-unstyled list_imgs">
              <%=image_tag("cities/czechrepublic.png", :class => "responsive")%></li>
            </ul>
          </div>
        </article>                                                                
        </div>
            <ul class="wmuSliderPagination">
            </ul>
            <script>$('.example1').wmuSlider();</script>
        </div>
      <div class="clearfix"></div>
    </div>
  </div>
<center><div class="main_bg"  id="about">
  <div class="container">
    <div class="row about">
        <div class="about_text">
          <h3>VAGABOND</h3>
          <h4>a blog for the wanderers</h4>
          <p>The word vagabond seems to carry such a negative connotation in our society. It is often used to reference a drifter, a grifter, a bum, or a hobo. Truth is it is little more than a person who wanders from place to place without a settled home. If the tiny house movement has taught anything though it is that home is more a state of mind and less a physical location. A house is not a home. A home doesn’t have to be just a house. Think of a vagabond as someone who travels about needing little more than what he can carry; a sojourner by trade. The life of a vagabond is very similar to life in a tiny house. Being confined to limited possessions brings about an unparalleled freedom. It can give you access to harsh environments, nonconventional travel arrangements, help you stay healthy, teach you about yourself, and allow you to experience the world as it is. There are no luggage straps or packing cubes to tied you down.</p>
        </div>
    </div>
  </div>
</div>
</center>
