<div class="city_container">
	<%= image_tag @city.image_url, size: '1665x600'%>
</div>
<div class="blog">
	<div class="container">
 		<div class="main row">
			<div class="col-md">
				<h2 class="style"><%=@city.name%><span class="b_left pull-right" data-toggle="modal" data-target="#myModal">Add Post</span></h2>
					<div class="blog_main">
						<%if @city.posts != nil%>
						<% @city.posts.each do |post|%>
					<h4><%=post.title %></h4>
					<div class="blog_list pull-left">
					  <ul class="list-unstyled">
							<li><span>Author: <%= User.find(post.user_id).first_name%></span></li>
					  </ul>
					</div>
					<div class="b_left pull-right">
						<span><%=timeago(post.created_at)%></span>
					</div>
					<div class="clearfix"></div>
						<p class="para"><%=post.content%></p><hr>
					</div>
						<%end%>
						<%end%>
			</div>
		</div>
			<div class="clearfix"></div>
	</div>
</div>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= @city.name %></h4>
        </div>
        <div class="modal-body">
					<%= form_for @post, url: "/posts/"+ @city.id.to_s, method: "post" do  |f| %>
						<%= f.text_field :title, :placeholder => "Title" %><br>
						<%= f.text_field :content, :placeholder => "Add post here" %><br>
						<%= f.submit "Add post" %>
					<% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
